{% extends "../base.html" %}
{% block content %}
<div class="content">
  {% load static %}
  <div id="main-banner" class="main-banner" style="background-image: url('{% static '/home/images/carousel_background.png'%}')">
    <div class="carousel-banner">
      {% load static %}
      <div id="carousel-first" style="opacity: 1;">
        <img src="{% static "home/images/carousel_1.png" %}">
      </div>
      <div id="carousel-second" style="opacity: 0;">
        <img src="{% static "home/images/carousel_2.png" %}">
      </div>
      <div id="carousel-third" style="opacity: 0;">
        <img src="{% static "home/images/carousel_3.png" %}">
      </div>
    </div>
    <div id="carousel-paginator">
      <div id="paginator-first-button" class="paginator-button"></div>
      <div id="paginator-second-button" class="paginator-button"></div>
      <div id="paginator-third-button" class="paginator-button"></div>
    </div>
  </div> 
  <div class="brand-carousel">
    <div class="brand-slider">
      <a class="slider-items">
        <img class="slider-images" src="{% static 'home/images/brand_carousel.png'%}">
      </a>
      <a class="slider-items">
        <img class="slider-images" src="{% static 'home/images/brand_carousel_1.png'%}">
      </a>
      <a class="slider-items">
        <img class="slider-images" src="{% static 'home/images/brand_carousel_2.png'%}">
      </a>
      <a class="slider-items">
        <img class="slider-images" src="{% static 'home/images/brand_carousel.png'%}">
      </a>
      <a class="slider-items">
        <img class="slider-images" src="{% static 'home/images/brand_carousel_1.png'%}">
      </a>
      <a class="slider-items">
        <img class="slider-images" src="{% static 'home/images/brand_carousel_2.png'%}">
      </a>
      <a class="slider-items">
        <img class="slider-images" src="{% static 'home/images/brand_carousel.png'%}">
      </a>
      <a class="slider-items">
        <img class="slider-images" src="{% static 'home/images/brand_carousel_1.png'%}">
      </a>
      <a class="slider-items">
        <img class="slider-images" src="{% static 'home/images/brand_carousel_2.png'%}">
      </a>
      <a class="slider-items">
        <img class="slider-images" src="{% static 'home/images/brand_carousel.png'%}">
      </a>
      <a class="slider-items">
        <img class="slider-images" src="{% static 'home/images/brand_carousel_1.png'%}">
      </a>
      <a class="slider-items">
        <img class="slider-images" src="{% static 'home/images/brand_carousel_2.png'%}">
      </a>
    </div>
  </div>
  <div class="topic-section">
    {% for topic in topics %}
    <div class="topic-card">
      <div class="topic-image-part">
        <img class="topic-image" src="{{ topic.topic_image.url }}" alt="{{ topic.topic_title }}">
      </div>
      <div class="topic-text-part">
        <div class="topic-text">
          <p class="topic-title">{{topic.topic_title}}</p>
          <p class="topic-content">{{topic.topic_content}}</p>
        </div>
        <div class="topic-button">
          <p><a>Xem thêm <svg fill="#000000" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8.489 31.975c-0.271 0-0.549-0.107-0.757-0.316-0.417-0.417-0.417-1.098 0-1.515l14.258-14.264-14.050-14.050c-0.417-0.417-0.417-1.098 0-1.515s1.098-0.417 1.515 0l14.807 14.807c0.417 0.417 0.417 1.098 0 1.515l-15.015 15.022c-0.208 0.208-0.486 0.316-0.757 0.316z"></path> </g></svg></a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="statistics">
    <div class="statistic">
      {% load static %}
      <img class="statistic-icon" src="{% static '/home/images/member_icon.png'%}" alt="member">
      <p class="statistic-name">Thành viên</p>
      <p class="statistic-number">1315</p>
    </div>
    <div class="statistic">
      {% load static %}
      <img class="statistic-icon" src="{% static '/home/images/building_unit_icon.png'%}" alt="member">
      <p class="statistic-name">Đơn vị VLXD</p>
      <p class="statistic-number">3</p>
    </div>
    <div class="statistic">
      {% load static %}
      <img class="statistic-icon" src="{% static '/home/images/laptop_icon.png'%}" alt="member">
      <p class="statistic-name">Family</p>
      <p class="statistic-number">198</p>
    </div>
    <div class="statistic">
      {% load static %}
      <img class="statistic-icon" src="{% static '/home/images/document_icon.png'%}" alt="member">
      <p class="statistic-name">Tài liệu</p>
      <p class="statistic-number">198</p>
    </div>
  </div>
  <div class="search-section">
    {% load static %}
    <img class="search-section-background" src="{% static '/home/images/search_background.jpg' %}">
    <div class="search-section-blur">
      <p class="search-section-title">Công trình tiêu biểu</p>
      <div class='searchbox-section'>
        <input placeholder="Tìm kiếm" class="searchbox-section-input">
        <button id="searchbox-section-button" class="searchbox-section-button">Tất cả NCC</button>
        <div id="dropdown-search-section" class="dropdown-search-section">
          <p class="dropdown-selection"><a>Tất cả NCC</a></p>
          <p class="dropdown-selection"><a>AN CƯỜNG</a></p>
          <p class="dropdown-selection"><a>DULUX</a></p>
          <p class="dropdown-selection"><a>BM WINDOWS</a></p>
          <p class="dropdown-selection"><a>LYSAGHT</a></p>
          <p class="dropdown-selection"><a>EUROTILE</a></p>
          <p class="dropdown-selection"><a>SAINT-GOBAIN</a></p>
          <p class="dropdown-selection"><a>PANASONIC</a></p>
          <p class="dropdown-selection"><a>SCG</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="news-section">
    <div class="news-header">
      <p>Tin tức cập nhật</p>
    </div>
    <div class="news-main-part">
      {% for news_data in news %}
      <div class="news-card">
        <img src="{{ news_data.news_image.url}}">
        <div class="news-text-part">
          <p class="news-title">{{ news_data.news_title}}</p>
          <p class="news-content">{{ news_data.news_content}}</p>
        </div>
        <div class="news-card-button">
          <p>Xem thêm  <svg fill="#000000" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8.489 31.975c-0.271 0-0.549-0.107-0.757-0.316-0.417-0.417-0.417-1.098 0-1.515l14.258-14.264-14.050-14.050c-0.417-0.417-0.417-1.098 0-1.515s1.098-0.417 1.515 0l14.807 14.807c0.417 0.417 0.417 1.098 0 1.515l-15.015 15.022c-0.208 0.208-0.486 0.316-0.757 0.316z"></path> </g></svg></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}